.about-container {
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e6e6;
}

.about-host-container {
  display: flex;
  flex-direction: row;
  margin-top: 14px;

}

.about-name {
  padding-top: 14px;
  font-weight: bolder;
  padding-bottom: 8px;
  // font-size: larger;
}

.about-hosted-by {
  padding-left: 10px;
}

.hosted-by {
  font-size: 14px;
  font-weight: bold;
}

.host-name {
  font-size: 14px;
}

.host-photo-and-name {
  display: flex;
  flex-direction: row;
  width: 35%;
}

.description-and-amenities {
  width: 65%;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}



.about-description {
  font-size: 14px;
  font-weight: 300;
}

.about-host-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
