.about-container {
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

.about-host-container {
  display: flex;
  flex-direction: row;
  margin-top: 14px;

}

.about-name {
  padding-top: 14px;
  font-weight: bolder;
  padding-bottom: 8px;
  // font-size: larger;
}

.about-hosted-by {
  padding-left: 10px;
}

.about-description {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 12px;
}

.about-host-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.hosted-by {
  font-size: 14px;
  font-weight: bold;
}

.host-name {
  font-size: 14px;
}

.host-photo-and-name {
  display: flex;
  flex-direction: row;
  width: 35%;
}

.description-and-amenities {
  width: 65%;
}

.about-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;

}

.icon-text {
  font-size: 14px;
  font-weight: 300;
  padding-left: 16px;
}

.icon-and-text {
  display: flex;
  flex-direction: row;
}


.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.fa-bed, .fa-plug, .fa-tint {
  font-size: 18px;
  font-weight: 200;
  color: grey;
}
