.booking-widget {
  height: 280px;
  width: 350px;
  position: absolute;
  top: 533px;
  right: 60px;
}

.widget-fixed {
  position: fixed;
  top: 78px;
  right: 60px;
}

.price-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(64, 217, 172, 0.85);
  height: 45px;
  z-index: 2;
  font-weight: 400;
  border: none;
  color: white;
}

.price-text {
  font-family: verdana;
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
}

.per-night-text {
  padding-left: 6px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 5px;
}

.booking-form-conatiner {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;

}

.error-message {
  text-align: center;
  color: red;
  font-size: 13px;
  height: 20px;
  padding-top: 3px;
}

.check-in-check-out {
  display: flex;
  font-size: 13px;
  width: 92%;
  margin: 0 auto;
  background: white;
  padding-top: 5px;
}

.guest-selector-container {
  margin-top: 18px;
  margin-left: 24px;
  margin-right: 2px;
}

.check-out, .check-in {
  padding-left: 10px;
}

.start-date, .end-date {
  margin-top: 5px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 1px;
  border: 1px solid #e6e6e6;
}

.check-in-text, .check-out-text, .selector-text {
  font-size: 15px;
  font-weight: 500;
}


.selector {
  height: 42px;
  margin-top: 5px;
  width: 95%;
  background-color: white;
  font-size: 13px;
  font-weight: 100;
  border: 1px solid #e6e6e6;
}

.booking-submit {
  height: 42px;
  margin-top: 5px;
  width: 95%;
  background-color: white;
  font-size: 13px;
  font-weight: 100;
}

.booking-button {
  width: 93%;
  height: 42px;
  border-radius: 5px;
  color: white;
  background-color: #ff5a5f;
  border: #ff5a5f;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 23.5px;
  margin-top: 20px;
}

.charge-message {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
}

.guest-text {

}
