body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.tree-house-detail-container {
  display: flex;
  flex-direction: column;
}

.detail-nav-bar {

}

.host-profile-and-tree-house-photo-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 60vh;
}

.tree-house-detail-photo-container {
  width: 66.666%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.link {
  color: blue;
  text-align: center;
}

.bookings-table-and-reviews-index-container {
  display: flex;
  justify-content: space-between;
  height: 40vh;
}

.host-profile {
  display:flex;
  flex-direction: column;
  width: 33.333%;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}

.reviews-table {
  width: 66.666%;
  display: flex;
  border: 1px solid black;
}

.host-photo-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.reviewer-profile {
  width: 125px;
  padding: 10px;

}

.review-item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
  overflow: scroll;

}

.host-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}


.review-container {
  flex: 1;
}

.review-error, .booking-error {
  color: red;
  text-align: center;
}

.review-item {
  display: flex;
  justify-content: space-between;
  // border-top: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}

.review-text {
  border-left: 1px solid black;
  width: 100%;
}

.booking-header, .review-header {
  text-align: center;
}

.bookings-table {
  width: 33.333%;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
}



.review-form-container {
  width: 30%;
  border-left: 1px solid;

}

.review-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.host-photo {

}

.tree-house-detail-photo {
  width: initial;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.login-header {
  text-align: center;
}

h4 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  border:0;
}
