.details-container {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;

}

.details-text {
  padding-top: 5px;
  font-size: 16px;
  width: 35%;
}

.details-left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.details-left, .details-right {
  line-height: 2.5;
}

.details-right {
  padding-left: 10px;
} 
