.features-container {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

.features-text {
  padding-top: 5px;
  font-size: 16px;
  width: 35%;
}

.features-left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.features-left, .features-right {
  line-height: 2.5;
}

.features-right {
  padding-left: 10px;
}

.fa, .fab, .fas, .far {
  font-size: 18px;
  font-weight: 200;
  color: grey;
  padding-right: 16px;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.fa-heart {
  color: #fff;
  padding-right: 0px;
}

.feature-false {
  text-decoration: line-through;
  color: pink;
  .fa, .fab, .fas, .far {
    color: pink;

  }
}
