@import "font-awesome-sprockets";
@import "font-awesome";

.main-content {
  margin-top: 78px;
}

body {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.42;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

// input {
//   cursor: pointer;
// }
//
// input:hover {
//     text-decoration: underline;
// }
