@import url('https://fonts.googleapis.com/css?family=Roboto');


.index-map-container {
  display: flex;
  margin: 10px;
  position: relative;
  margin-top: 123px;
}

body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-transform: uppercase;

}

.nav-bar-greeting-and-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  height: 25px;
  margin: 20px;
  text-transform: uppercase;
}

.nav-bar-header {
  margin: 10px;
  font-size: 48px;
  padding: 10px;
}

.tree-house-index {
  display: flex;
  width: 33.333%;
  box-sizing: border-box;
}

.map-container {
  display: flex;
  width: 64%;
  height: 82%;
  box-sizing: border-box;
  position: fixed;
  margin-right: 10px;
  right: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.index-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tree-house-index-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  box-shadow: 3px 3px 3px 0px #e6e6e6;
  border-radius: 3px;
  margin-bottom: 30px;
}

.tree-house-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}


.tree-house-photo {
  width: 100%;
  height: 300px;
}


.logout-button {
  display: flex
}


.map-img {
  width: 100%;
  height: 80%;
  border-radius: 3px;
}
