.modal-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  background: white;
  z-index: 101;

  .modal-contents {

    /* cover the modal */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* spacing as needed */
    // padding: 20px 50px 20px 20px;

    /* let it scroll */
    overflow: auto;

  }


}

.modal-overlay {
  display: none;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;

}

.modal-open {
  display: flex;

}
