//ReviewsIndex

.review-index-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-left: 12px;

  .review-index-header-contianer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;

    .reviews-best-recent {
      display: flex;
      width: 110px;
      justify-content: space-between;
      font-weight: 400;

      .reviews-best-black {
        border-bottom: 1px solid #a1a1a1;
        color: black;
        font-weight: 400;
      }

      .reviews-best-grey {
        border-bottom: 1px solid #a1a1a1;
        color: #a1a1a1;
      }

      .reviews-recent-black {
        border-bottom: 1px solid #a1a1a1;
        color: black;
        font-weight: 400;
      }

      .reviews-recent-grey {
        border-bottom: 1px solid #a1a1a1;
        color: #a1a1a1;
      }

      .reviews-best-grey:hover, .reviews-recent-grey:hover, .reviews-recent-black:hover, .reviews-best-black:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
      }
    }
  }
}

//ReviewItem

.review-item-container {
  padding-bottom: 25px;


  .reviewer-photo-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .review-photo-container {
      width: 15%;

      .reviewer-photo {
        width: 20%;
        width: 85px;
        height: 85px;
        border-radius: 50px;
      }
    }

    .reviewer-name-date {
      display: flex;
      flex-direction: column;
      width: 85%;

      .reviewer-name {
        font-weight: 600;
        line-height: 1.1;
        font-size: 23px;
      }

      .review-date {
        color: grey;
        font-weight: 500;
      }
    }

  }

  .review-content-container {
    float: right;
  }

  .review-body-container {


    .review-body {
      float: right;
      width: 85%;
      white-space: pre-wrap;
      padding-bottom: 25px;
      border-bottom: 1px solid #e6e6e6;

    }
  }

}
