//ReviewsIndex

.review-index-container {

  .review-index-header-contianer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

    .reviews-count {

    }

    .reviews-best-recent {
      
    }
  }
}

//ReviewItem
