// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html {
//   background: url("http://res.cloudinary.com/dreuhltzt/image/upload/v1500589308/Treepichq-edit_ctzg3a.jpg");
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
//   height: 100vh;
//   width: 100%;
// }

/*
  Parent vs. Child mindset
    put display flex on parent and all children are flex children

    vertical items: align-items
    horizontal: justify-content

*/

.login-form-container, .signup-form-container {
  display: flex;
  flex-direction: column;
  background: url("https://img.hipcamp.com/image/upload/c_limit,f_auto,h_1200,q_60,w_1920/v1476482092/campground-photos/abvqx8gl26smow3uxgk8.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
}

.login-form-box, .signup-form-box {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  opacity: 0.65;
  padding: 16px;
}

.login-form, .signup-form {
  display:flex;
  flex-direction: column;
  align-items: center;

}

.logo {
  height: 85px;
  width: 85px;
  padding: 5px;
}

.login-input, .signup-input {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
}

.signup-button {
  display: flex;
  justify-content: space-between;
  width: 178px;
  padding: 5px;
  color: white;
  align-items: center
}

.login-header {
  margin: 20px;
}

.errors {
  color: red;
  font-weight: bold;
}

link, .Link {
  color: white;
  text-decoration: underline;
  margin: 3px;
  border: 2px;
}

input {

}

button, .submit-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  width: 100px;
  background-color: black;
  color: white;
  margin: 5px;
}

h2 {
  font-size: 28px;
}
