// Place all the styles related to the TreeHouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.index-map-container {
  display: flex;
  // margin: 10px;
  position: relative;
  margin-top: 90px;
  align-content: center;


  .map-container {
    display: flex;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    // margin-right: 10px;
    right: 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    .map {
      padding-left: 10px;
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }

  .tree-house-index {
    width: 65%;


    .tree-house-tile-index-container {
      display: flex;
      flex-wrap: wrap;
      // align-self: flex-start;
      padding-left: 10px;
      padding-right: 2px;

      .tree-house-tile-container {
        display: flex;
        flex-direction: column;
        min-width: 240px;
        width: 30%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
        // border: 1px solid #e6e6e6;
        box-shadow: 3px 3px 3px 0px #e6e6e6;
        border-radius: 3px;

        .tree-house-img-container {
          width: 100%;
          height: 70%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        .tree-house-img {
          // width: 100%;
          // height: 70%;
          background-size: cover;
          width: 100%;
          height: 200px;
          background-size: cover;
          background-position: 50% 50%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          // img {
          //   width: 100%;
          //   height: 100%;
          //   border: none;
          // }
        }

        .tree-house-info {
          width: 100%;
          height: 30%;
          border-left: 1px solid #e6e6e6;
          border-bottom-left-radius: 3px;

        }
      }
    }
  }




  body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
  }



}



// .tree-house-index {
//   display: flex;
//   flex-direction: column;
//   width: 58%;
//   box-sizing: border-box;
// }
//
//
// .index-list {
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }
//
// .tree-house-tile-index-container {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }
//
// .tree-house-tile-container {
//   width: 31%;
//   margin: 8px 8px 25px;
//   font-family: sans-serif;
//   line-height: 20px;
//   color: #484848;
//   height: 210px;
//
//   .tree-house-img {
//     width: 100%;
//     height: 80%;
//   }
//
//   .tree-house-info {
//     height: 20%;
//     display: flex;
//     flex-direction: column;
//     // flex-grow: 1;
//     justify-content: space-between;
//   }
//
// }
//
//
//
// .tree-house-info {
//   height: 20%;
//   display: flex;
//   flex-direction: column;
//   // flex-grow: 1;
//   justify-content: space-between;
// }
//
// .tree-house-photo {
//   width: 100%;
//   // height: 300px;
// }
//
// .tree-house-img {
//   height: 100%;
// }
.no-results{
  text-align: left;

  .no-results-header{
    font-size: 36px;
    font-weight: bold;
  }
  .search-suggestions{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 12px;
    ul{
      list-style: initial;
      padding-left: 12px;
    }
  }
}
