// Place all the styles related to the TreeHouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.index-map-container {
  display: flex;
  position: relative;
  margin-top: 90px;
  align-content: center;

  .map-container {
    width: 35%;
    display: flex;
    height: 89%;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    .map {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }

  .tree-house-index {
    width: 63%;
    margin-left: 10px;

    .tree-house-tile-index-container {
      display: flex;
      flex-wrap: wrap;

      .tree-house-tile-container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        min-width: 240px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        box-shadow: 3px 3px 3px 0px #e6e6e6;
        border-radius: 3px;

        .tree-house-img-container {
          width: 100%;
          height: 70%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        .tree-house-img {
          background-size: cover;
          width: 100%;
          height: 200px;
          background-size: cover;
          background-position: 50% 50%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }

        .tree-house-info {
          width: 100%;
          height: 30%;
          border-left: 1px solid #e6e6e6;
          border-bottom-left-radius: 3px;
          padding: 4px;

          .tree-house-name {
            color: rgb(72, 72, 72);
            font-size: 15px;
            font-weight: bold;
            max-width: 90%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
          }
        }
      }
    }
  }

  body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
  }
}


.no-results{
  text-align: left;

  .no-results-header{
    font-size: 36px;
    font-weight: bold;
  }
  .search-suggestions{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 12px;
    ul{
      list-style: initial;
      padding-left: 12px;
    }
  }
}
