<!DOCTYPE html>
<html>
  <head>
    <title>TreeSurfing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdUOQ1Fdq-E9sTIBTaR_oSsyFzST-jBII"
  type="text/javascript"></script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
